.footer{
	background-color: white!important;
    border-top: 1px solid #eaecef;
    bottom: 0;
    position: absolute !important;
    width: 100%;
}
.footer .footer-bottom{
	color:#949494
}
.navbar .logo{
	border-radius: 0 !important
}